body{
    background:blue;
    color: #41E9F0;
    margin: 100px;
}
p{
    color: #FF33F0;
}
.noun{
    font-weight: 900;
    color: black;
}
p.noun{
    color:white;
}
img {
  border: 10px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  width: 200px;

}
