body{
    background:blue;
    color: #41E9F0;
    margin: 100px;
}
p{
    color: #FF33F0;
    
}
.noun{
    font-weight: 900;
    color: black;
    
}
p.hg{color:white;}
p.rg{color:pink;}
p.mg{color:red;}
  img {
  /* border: 5px solid #F54927;
  border-radius: 5px;*/
  padding: 5px;
  width: 200px;

}
a:link {
  color: #F54927;
  font-weight: bold;
}

a:visited {
  color: #F54927;
  font-weight: bold;
}


table,th,td{
    border: 3px solid;
    color: #F54927;
}
td:hover {background-color: white; }